*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    height: 10vh;
    background-color: #0f1111;
    display: flex;
}
.amazon-logo:hover{
    border: 1px solid white;
}
.logo-Text-container:hover{
    border: 1px solid white;

}

.logo-Text-container{
    height: 8.5vh;
    padding: 6px;
}
.amazon-logo{
    height: 8.5vh;
}
.Address-Text{
    color: rgb(231, 226, 226);
}

.logo-text{
    display: flex;
    align-items: center;
    color: #ffffff;
}

.Logo-conatiner{
    display: flex;
    width: 28%;
    height: 10vh;
    align-items: center;
    justify-content: center;
}



.input-section{
    height: 40px;
    display: flex;
    margin-top: 9px;
    width: 40%;
}

.searchBtn{
    height: 40px;
}